p
{

    color:rgb(165, 3, 205)
}
h2
{
 color:rgb(253, 165, 1)
}
h1
{
    color:rgb(253, 165, 1)
}
h4
{
    color:rgb(253, 165, 1)
}

.collororange
{
    color:rgb(253, 165, 1)
}
.collorpurple
{
    color:rgb(165, 3, 205)
}
.dropdown-item
{
    color:rgb(165, 3, 205)
}
.menukleur
{
    color:rgb(165, 3, 205)
}
footer 
{
    background-color: rgb(202, 235, 246)
}
.navbar
{
    background-color: rgb(202, 235, 246)
}
body
{ 
    background-color:   rgb(228, 241, 245);
}
.bg-navbar
{
    background-color: rgb(202, 235, 246);
}
span
{
    color:red
}
